.card-element {
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .3s linear;
  &.moderator {
    .poker-card {
      border-color: var(--secondary) !important;
    }
  }
  &.active {
    .poker-card {
      border-color: var(--accent);
    }
  }
  .card-name {
    text-align: center;
    font-weight: bold;
  }
}
.poker-card {
  position: relative;
  width: 130px;
  height: 200px;
  border: solid 6px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 50px;
  }
}